<!DOCTYPE html>
<html>
<head>
    <title>Task 6 start page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row align-items-end" style="height: 150px">
            <div class="col-sm-2"></div>
            <div class="col">
                <h4 class="text-center text-primary ">Welcome to Users & Awards</h4>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row align-items-center mt-2">
            <div class="col-sm-2"></div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 100px" id="basic-addon1">Username</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 100px" id="basic-addon1">Password</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>

                <button class="btn btn-primary">Sign in</button>
                <p class="mt-2">Or you can <a href="~/signup">Sign up</a></p>
            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>
</body>
</html>
