@using Epam.XT2019.Task6.Ioc;
@{
    Page.Title = "Registration";
    Page.Lbl1 = "UserName";
    Page.Visibility3 = "invisible";
    Page.Lbl2 = "DateOfBirth";
    Page.Btn = "Create";
    Page.Action = "CreateUser.cshtml";
    Layout = "~/Pages/Menu/_MenuLayout1.cshtml";
    string uName = Request["Username"];
    string dateOfBirth = Request["DateOfBirth"];
    if (IsPost)
    {
        if (DependencyResolver.ULogic.CreateUser(uName, dateOfBirth))
        {
            <div class="alert alert-primary" role="alert">
                <label>Success</label>
            </div>
            Response.Redirect("~/Login");
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <label>Fail. Please check data.</label>
            </div>
        }        
    }   
}