@using Epam.XT2019.Task6.Ioc;
@{
    Page.Visibility2 = "invisible";
    Page.Visibility3 = "invisible";
    Page.Title = "Delete User";
    Page.Lbl1 = "UserId";
    Page.Btn = "Delete";
    Page.Action = "DeleteUser.cshtml";
    Layout = "~/Pages/Menu/_MenuLayout1.cshtml";
    if (!User.IsInRole("Admins") && !User.IsInRole("User"))
    {
        Response.Redirect("~");
        return;
    }
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~");
        return;
    }
    string uId = Request["UserId"];
    if (IsPost)
    {
        if (!int.TryParse(uId, out int numUId))
        {
            <div class="alert alert-danger" role="alert">
                <label>Failed. Please check data.</label>
            </div>
            return;
        }
        if (DependencyResolver.ULogic.DeleteUser(numUId))
        {
            <div class="alert alert-primary" role="alert">
                <label>Success</label>
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <label>Failed. Please check data.</label>
            </div>
        }
    }
}