@using Epam.XT2019.Task6.Entities
@using Epam.XT2019.Task6.Ioc;
@{
    Page.Title = "Show Images";
    Layout = "~/_Layout.cshtml";
    List<Image> images = DependencyResolver.ImLogic.DisplayImages();
}
@RenderPage("~/_HeaderPartial.cshtml");
<div class="container-fluid">
    <div class="row">
        @foreach (var image in images)
        {
            <div class="col-sm-6 col-md-3 col-lg-2">
                <img src="~/Pages/Image?id=@image.Id" alt="@image.Name" class="img-rounded img-responsive" />
                <h4>@image.Id</h4>
            </div>
        }
    </div>
</div>

