<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/Content/tooplate-style.css" rel="stylesheet" />
   
</head>
<body>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <div class="container-fluid">
        @RenderPage("~/Pages/_NavPartial.cshtml")

        @RenderBody()

        @RenderPage("~/Pages/_FooterPartial.cshtml")
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
   
    <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
   
    <script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
   
</body>
</html>
