@using IoC
@using Entities
@{
    Page.Title = "ShowPurchasedPhotos";

}
<script src="~/Scripts/Scripts/masonry.pkgd.min.js"></script>
<div class="tm-main-content tm-gallery-container">
    <div class="grid mb-5">
        @{
            User user = DependencyResolver.UDao.GetUser(User.Identity.Name);
            List<Photo> photos = DependencyResolver.PLogic.ShowPurchasedPhotos(user.Id);
            for (int i = 0; i < photos.Count; i++)
            {
                <div class="grid-item">
                    <div>
                        <img src="~/Pages/PurPhotos?num=@i" alt="@photos[i].Name" />
                    </div>
                    <div>
                        <p class="mb-0">Id: @photos[i].Id</p>
                        <p class="mb-0">Prise: @photos[i].Prise$</p>
                        <p class="mt-0">Rating: @photos[i].Rating</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        //pause(3000);
        //var $grid = $('.grid').imagesLoaded(function () {
        //    $grid.masonry({
        //        isFitWidth: true,
        //        // options...
        //    });
        //});
        var $grid = $('.grid').masonry({
            isFitWidth: true,
            isResizable: true,
            itemSelector: '.grid-item',
            columnWidth: 150,
            animationOptions: {
                duration: 400
            },
        });
        $grid.imagesLoaded().progress(function () {
            $grid.masonry('layout');
        });
        $('.tm-current-year').text(new Date().getFullYear());
    });
</script>