<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/Pages/Menu/CreateWebUser.cshtml"><span class="glyphicon glyphicon-edit"></span> Registration</a>
                    </li>
                    <li>
                        <a href="~/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li>
                        <a href="~/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                    <li>
                        <a href="~/Pages/Menu/DisplayUser.cshtml">Show users</a>
                    </li>
                    @if (User.IsInRole("Admins") || User.IsInRole("Users"))
                    {
                        <li><a href="~/Pages/Menu/DisplayUserAwards.cshtml">Show user's awards</a></li>
                    }

                    @if (User.IsInRole("Admins"))
                    {
                        <li><a href="~/Pages/Menu/DisplayAwards.cshtml">Show Awards</a></li>
                        <li><a href="~/Pages/Menu/GiveAward.cshtml">Reward</a></li>
                        <li><a href="~/Pages/Menu/DeleteAward.cshtml">Delete Award</a></li>
                        <li><a href="~/Pages/Menu/DeleteUser.cshtml">Delete User</a></li>
                        <li><a href="~/Pages/Menu/CreateAward.cshtml">Create Award</a></li>
                        <li><a href="~/Pages/Menu/CreateUser.cshtml">Create User</a></li>
                        <li><a href="~/Pages/Menu/ToggleAdmin.cshtml">Toggle Admin</a></li>
                        <li><a href="~/Pages/Menu/DisplayImages.cshtml">Show Images</a></li>
                        <li><a href="~/Pages/Menu/SaveImage.cshtml">Save Image</a></li>
                        <li><a href="~/Pages/Menu/DeleteImage.cshtml">Delete Image</a></li>

                        @*<a href="~"><span class="glyphicon glyphicon-font"></span> AdminPanel</a>*@
                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-info">
        @{if (User.IsInRole("Admins"))
            {
                <label>
                    User: @User.Identity.Name
                    <a href="~/Logout">
                        Log out
                    </a>
                </label>
            }
            else if (User.IsInRole("Users"))
            {
                <label>
                    User: @User.Identity.Name
                    <a href="~/Logout">
                        Log out
                    </a>
                </label>
            }
            else
            {
                <label>
                    User: Guest
                    <a href="~/Login">
                        Log in
                    </a>
                </label>
            }
        }
    </div>

</header>