@using Epam.XT2019.Task6.WebPL
@{
    string login = Request["Username"];
    string password = Request["password"];
    string returnUrl = Request["ReturnUrl"];
    Page.Title = "Login";
    if (IsPost)
    {
        if (Logic.CanLogin(login, password))
        {
            FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
            Response.Redirect("~/Pages/MainMenu");
            return;
        }
        <div class="alert alert-danger">Bad authentication</div>
    }
    <div class="container">
        <div class="row align-items-end" style="height: 150px">
            <div class="col-sm-2"></div>
            <div class="col">
                <h4 class="text-center text-primary ">Welcome to Users & Awards</h4>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row align-items-center mt-2">
            <div class="col-sm-2"></div>
            <div class="col">
                <form  method="post">
                    <input type="hidden" name="ReturnUrl" value="@returnUrl" />
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 100px" id="basic-addon1">Username</span>
                        </div>
                        <input type="text" class="form-control" name="Username" value="@login" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 100px" id="basic-addon1">Password</span>
                        </div>
                        <input type="password" class="form-control" name="Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
                <p class="mt-2">Or you can <a href="~/signup">Sign up</a></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
}
